.app {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212; /* Dark background */
  color: #f4f4f4; /* Light text */
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #121212; /* Dark background */
  color: #f4f4f4; /* Light text */
}

#root {
  height: 100%;
}

.body {
  flex: 1;
  padding: 20px;
  position: relative; /* Ensure absolute positioning within body */
}

.body h1 {
  margin-top: 0;
  margin-left: 1vw;
}

.body-text {
  min-height: 5vh;
  width: 70vw;
  height: 80vh;
  padding: 10px;
  box-sizing: border-box;
  font-size: 16px;
  margin-left: 1vw;
  resize: none;
  position: relative; /* For positioning the popup */
  background-color: #333333; /* Darker textarea background */
  color: #f4f4f4; /* Light text */
}

.textarea-container {
  position: relative;
}

.body-text-container::before {
  content: attr(data-placeholder);
  position: absolute;
  top: 8px;
  left: 8px;
  font-size: 1em;
  color: #888888; /* Light grey placeholder text */
  pointer-events: none;
  z-index: 0;
  transition: opacity 0.3s ease;
}

.title {
  width: 100%;
  font-size: 2em; /* Match h1 font size */
  font-weight: bold; /* Match h1 font weight */
  border: none;
  outline: none;
  margin-bottom: 16px;
  margin-left: 1vw;
  background-color: transparent; /* Make the background transparent */
  color: inherit; /* Inherit the color from the parent */
}

.dictate-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 2vh 3vw;
  background-color: #333333; /* Darker button background */
  color: #f4f4f4; /* Light text */
  font-size: 14px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dictate-button:hover {
  background-color: #444444; /* Change color on hover */
}

.dictate-button:active {
  transform: scale(0.95); /* Press down effect */
}

.popup {
  position: absolute;
  display: flex;
  flex-direction: column;
  word-break: break-word;
  background-color: #333333; /* Darker popup background */
  border: 1px solid #888888; /* Light grey border */
  padding: 10px;
  z-index: 1000;
  width: 200px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  color: #f4f4f4; /* Light text */
}

.popup-definition {
  margin: 0;
  margin-bottom: 3vh;
  margin-left: 1vw;
}

.popup-button {
  align-self: flex-end;
  padding: 1vh 2vw;
  background-color: #444444; /* Darker button background */
  color: #f4f4f4; /* Light text */
  font-size: 14px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.popup-button:hover {
  background-color: #555555; /* Change color on hover */
}

.popup-button:active {
  transform: scale(0.95); /* Press down effect */
}

/* Sidebar CSS */
.sidebar {
  width: 250px;
  background-color: #333333; /* Darker sidebar background */
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  color: #f4f4f4; /* Light text */
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 1vw;
  margin-bottom: 1vw;
  margin-top: 1vw;
}

.new-note {
  padding: 2vh 3vw;
  background-color: #444444; /* Darker button background */
  color: #f4f4f4; /* Light text */
  font-size: 14px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin: 0;
}

.new-note:hover {
  background-color: #555555; /* Change color on hover */
}

.new-note:active {
  transform: scale(0.95); /* Press down effect */
}

.note {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 2vw;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative; /* Needed for absolute positioning of delete button */
}

.note p {
  flex-grow: 1;
  margin-right: 1vw;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Add ellipsis at the end */
}

.note button {
  background-color: #444444; /* Darker button background */
  color: #f4f4f4; /* Light text */
  font-size: 14px;
  cursor: pointer;
  padding: 1vw 2vh;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin: 0;
  border: 0;
  position: absolute;
  right: 2vh; /* Position the button to the right */
  opacity: 0; /* Hidden by default */
  transition: opacity 0.3s ease;
}

.note:hover button {
  opacity: 1; /* Show on hover */
}

.note.active {
  background-color: #000000; /* Active note background */
  color: #f4f4f4; /* Light text */
}
